/* Mixin */


/* Set các giá trị với màn hình tương ứng */

@include tablet {
    .giangVien {
        .doiChut {
            &__content {
                font-size: 21px !important;
            }
        }
    }
}

@include mobile {
    .title {
        h1 {
            font-size: 27px !important;
            padding: 0 2rem !important;
        }
    }
    .slider {
        &__caption {
            text-align: center;
            h1 {
                font-size: 40px;
            }
            h4 {
                font-size: 1rem;
                margin-bottom: 20px !important;
            }
        }
    }
    .block-btn-form {
        @include flex(center, center, row !important, nowrap !important);
        width: 100%;
        top: 96% !important;
        left: 0 !important;
        .btn-contact {
            @include flex(center, center, column-reverse !important, wrap);
            @include size(calc(100 / 3) !important, auto !important);
            min-width: auto !important;
            padding: 10px !important;
            margin: 0 1px !important;
            span {
                font-size: 11px;
                margin: 3px 0;
            }
            .fa {
                border: none !important;
                @include size(auto !important, auto !important);
                color: $text-color !important;
            }
        }
    }
    .form-contact {
        input {
            width: 100% !important;
            float: none !important;
        }
    }
}