<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin pages</title>
    <style>
    th, td{
        text-align: center;
    }
    th{
        padding: 12px 22px !important;
    }
    .btnXoaTungND:hover{
        color: #fff !important;
    }
    .btn{
        padding: .375rem .75rem !important;
        margin: 0 10px !important;
    }
</style>
</head>

<body>
    <!-- Start Header-->
    <header class="header fixed-top">
        <div class="container-fluid header__content px-3 d-flex align-items-center justify-content-between">
            <a href="#" class="header__logo header__left h-100 d-flex align-items-center">
                <img src="../../../assets/images/logo.png" class="img-fluid" width="130" alt="">
            </a>
            <div class="nofication header__right">
                <span class="h-100 d-flex align-items-center">
                    <i class="fa fa-envelope-o">
                        <span class="badge badge-success rounded-circle">7</span>
                    </i>
                    <i class="fa fa-bell-o">
                        <span class="badge badge-success rounded-circle">3</span>
                    </i>
                    <i class="fa fa-comment-o">
                        <span class="badge badge-success rounded-circle">1</span>
                    </i>
                    <a href="#" class="d-flex justify-content-center align-items-center divAdmin">
                        <strong id="adminName">Admin</strong>
                        <span class="avatar">
                            <img src="../../../assets/images/user.png" alt="">
                        </span>
                    </a>
                </span>
            </div>
        </div>
    </header>
    <!-- End Header -->


    <nav class="sidebar--admin">
        <ul class="sidebar__nav w-100">
            <li class="sidebar__item" data-tab="divDashboard">
                <a href="#" class="sidebar__link">
                    <i class="fa fa-home"></i>
                    <span class="heading-secondary">Dashboard</span>
                </a>
            </li>
            <li class="sidebar__item active" data-tab="divNguoiDung">
                <a href="#" class="sidebar__link">
                    <i class="fa fa-users"></i>
                    <span class="heading-secondary">Users</span>
                </a>
            </li>
            <li class="sidebar__item" data-tab="divKhoaHoc">
                <a href="#" class="sidebar__link">
                    <i class="fa fa-book"></i>
                    <span class="heading-secondary">Courses</span>
                </a>
            </li>
        </ul>
        <div id="itemDangXuat">
            <a href="#" class="sidebar__link">
                <i class="fa fa-sign-out"></i>
                <span class="heading-secondary">Sign Out</span>
            </a>
        </div>
    </nav>

    <main class="main__content">
        <div class="container divData" id="divKhoaHoc">
            <div class="row">
                <div class="col-12 mb-5 text-center">
                    <h3 class="text-center title__data heading-secondary">Danh Sách Khoá Học</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="blockForm d-flex justify-content-between align-items-center">
                        <div class="show d-flex align-content-center w-25">
                            <select class="custom-select" style="width: 100%;border-color: #776a6a; font-size: 17px" id="showEntriesKH">
                                <option  disabled>Show Entries...</option>
                                <option selected value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                            </select>
                            <div class="d-flex justify-content-center">
                                
                                <button class="btn btn-outline-success " id="btnModalKhoaHoc" data-toggle="modal" data-target="#modalKhoaHoc">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <div class="search">
                            <div class="input-group">
                                <div class="form-group mb-0">
                                    <label for="timKH" class="mb-0" style="font-size: 13px">Tìm Khoá Học</label>
                                    <input type="text" class="form-control" style="border-color: #dbdbdb; font-size: 13px" id="timKH" placeholder="Nhập Tên Khoá Học">
                                </div>
                            </div>
                        </div>

                        <table class="z-depth-2 table-hover tableTimKiem" id="tableTimKiemKhoaHoc">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mã</th>
                                    <th>Tên Khoá Học</th>
                                </tr>
                            </thead>
                            <tbody id="dataTimKiemKhoaHoc">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 p-0">
                    <table class="table table-hoverable table-striped tableData z-depth-2" id="tableKhoaHoc">
                        <thead>
                            <tr>
                                <th >#</th>
                                <th class="both" data-sort="MaKhoaHoc">Mã</th>
                                <th class="both" data-sort="TenKhoaHoc">Tên</th>
                                <!-- <th>Mô Tả</th>
                                    <th>Hình Ảnh</th> -->
                                    <th class="both" data-sort="NguoiTao">Người Tạo</th>
                                    <th class="both" data-sort="LuotXem">Lượt Xem</th>

                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody id="dataKhoaHoc">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container divData active" id="divNguoiDung">
                <div class="row">
                    <div class="col-12 text-center mb-5">
                        <h3 class="text-center title__data heading-secondary">Danh Sách Người Dùng</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="blockForm d-flex justify-content-between align-items-center">
                            <div class="show d-flex align-content-center w-25">
                                <select class="custom-select" style="width: 100%;border-color: #776a6a; font-size: 17px" id="showEntriesUser">
                                    <option  disabled>Show Entries...</option>
                                    <option value="10" selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-outline-danger " id="btnXoaNhieuND"><i class="fa fa-trash"></i>
                                    </button>
                                    <button class="btn btn-outline-success" id="btnThemHocVien" data-toggle="modal" data-target="#modalNguoiDung">
                                        <i class="fa fa-user-plus"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="search w-25">
                                <div class="input-group">
                                    <div class="form-group mb-0 w-100">
                                        <label for="searchField" class="mb-0" style="font-size: 13px">Tìm Người Dùng</label>
                                        <input type="email" class="form-control" placeholder="Nhập Tên..." style="border-color: #dbdbdb; font-size: 13px" id="timND">

                                    </div>

                                </div>
                            </div>
                            <table class="z-depth-2 table-hover tableTimKiem" id="tableTimKiemNguoiDung">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tài Khoản</th>
                                        <th>Tên</th>
                                    </tr>
                                </thead>
                                <tbody id="dataTimKiemNguoiDung">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 p-0">

                        <table class="table table-hover  tableData z-depth-2" id="tableNguoiDung">
                            <thead>
                                <tr>
                                    <th>
                                        <i class="fa fa-trash"></i>
                                    </th>
                                    <th>#</th>
                                    <th class="both" data-sort="_TaiKhoan">Tài Khoản</th>
                                    <!-- <th data-sort="true">Mật Khẩu</th> -->
                                    <th class="both" data-sort="_HoTen">Tên</th>
                                    <th class="both" data-sort="_Email">Email</th>
                                    <th class="both" data-sort="_SoDT">Số Điện Thoại</th>
                                    <th class="both" data-sort="_MaLoaiNguoiDung">Mã Người Dùng</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody id="dataNguoiDung">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container divData" id="divDashboard">
                <div class="row">
                    <div class="col-12 text-center mb-4">
                        <h3 class="text-center heading-secondary">Biểu Đồ Thống Kê</h3>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col-12">
                        <h3 class="font-weight-bold">Overview</h3>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c1 thongke thongKeUser">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-users"></i>
                                    </div>
                                    <div class="text">
                                        <h2 id="mountND"></h2>
                                        <span>Người Dùng</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart1"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c2 thongke thongKeHocVien">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-graduation-cap"></i>
                                    </div>
                                    <div class="text">
                                        <h2 id="mountHV"></h2>
                                        <span>Học Viên</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart2"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c3 thongke thongKeKhoaHoc">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-book"></i>
                                    </div>
                                    <div class="text">
                                        <h2 id="mountKH"></h2>
                                        <span>Khoá Học</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart3"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="overview-item overview-item--c4 thongke thongKeView">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fa fa-eye"></i>
                                    </div>
                                    <div class="text">
                                        <h2 id="mountView"></h2>
                                        <span>Lượt Xem</span>
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <canvas id="widgetChart4"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="au-card">
                            <div class="au-card-inner">
                                <h3 class="title-2">NGƯỜI DÙNG</h3>
                                <canvas id="sales-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="au-card">
                            <div class="au-card-inner">
                                <h3 class="title-2">HỌC VIÊN</h3>
                                <canvas id="team-chart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="au-card">
                            <div class="au-card-inner">
                                <h3 class="title-2">LƯỢT XEM</h3>
                                <canvas id="barChart"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="au-card">
                            <div class="au-card-inner">
                                <h3 class="title-2">KHOÁ HỌC</h3>
                                <canvas id="radarChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <div class="modal fade" id="modalKhoaHoc" tabindex="-1" role="dialog" style="overflow-y: auto!important">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h3>Thêm Khoá Học</h3>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body container">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="MaKhoaHoc">Mã Khoá Học</label>
                                    <input type="text" class="form-control" id="MaKhoaHoc" placeholder="Nhập Vào Mã Khoá Học">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="TenKhoaHoc">Tên Khoá Học</label>
                                    <input type="text" class="form-control" id="TenKhoaHoc" placeholder="Nhập Vào Tên Khoá Học">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group" >
                                    <label for="MoTa">Mô Tả</label>
                                    <textarea name="Mota" id="MoTa" class="form-control" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="HinhAnh">Hình Ảnh</label>
                                    <input type="url" class="form-control" id="HinhAnh" placeholder="Nhập vào đường dẫn hình ảnh">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="LuotXem">Lượt Xem</label>
                                    <input type="number" class="form-control" id="LuotXem" placeholder="Nhập Số Lượt Xem">
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="maND">Người tạo</label>
                                <select class="custom-select" id="NguoiTao">
                                    <option value="HV">HV</option>
                                    <option value="GV">GV</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-success" data-dismiss="modal" id="btnThemKhoaHoc">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalNguoiDung" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h3>Thêm Người Dùng</h3>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body container">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="TaiKhoan">Tài Khoản</label>
                                    <input type="text" class="form-control" id="TaiKhoanND" placeholder="Nhập Vào Tài Khoản">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="MatKhauND">Mật Khẩu</label>
                                    <input type="text" class="form-control" id="MatKhauND" placeholder="Nhập Vào Mật Khẩu">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="HoTen">Họ Tên</label>
                                    <input type="text" class="form-control" id="HoTenND" placeholder="Nhập Họ Tên">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="text" class="form-control" id="EmailND" placeholder="Nhập Email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="SoDT">Số Điện Thoại</label>
                                    <input type="text" class="form-control" id="SoDTND" placeholder="Nhập Số Điện Thoại">
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="maND">Mã Người Dùng</label>
                                <select class="custom-select" id="maND">
                                    <option value="HV">HV</option>
                                    <option value="GV">GV</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button class="btn btn-success" data-dismiss="modal" id="btnThemNguoiDung">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalCapNhatND" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title">
                            <h3>Cập nhật thông tin người dùng</h3>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body container">
                        <div class="row">
                            <div class="col-md">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="TaiKhoan">Tài Khoản</label>
                                            <input type="text" class="form-control" id="TaiKhoanNDCN" placeholder="Nhập Vào Tài Khoản" disabled>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="MatKhauND">Mật Khẩu</label>
                                            <input type="password" class="form-control" id="MatKhauNDCN" placeholder="Nhập Vào Mật Khẩu">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="HoTen">Họ Tên</label>
                                            <input type="text" class="form-control" id="HoTenNDCN" placeholder="Nhập Họ Tên">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <input type="text" class="form-control" id="EmailNDCN" placeholder="Nhập Email">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="SoDT">Số Điện Thoại</label>
                                            <input type="text" class="form-control" id="SoDTNDCN" placeholder="Nhập Số Điện Thoại">
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="maND">Mã Người Dùng</label>
                                        <select class="custom-select" id="maNDCN">
                                            <option value="HV">HV</option>
                                            <option value="GV">GV</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 khoahocHV">
                                <h5>Các Khoá Học Đã Đăng ký</h5>
                                <ul class="list-group" id="listKhoaHoc">

                                </ul>
                                <div class="d-flex flex-column justify-content-between mt-3">
                                    <select name="" id="listKHoaHocDK"></select>
                                    <button class="btn btn-primary " id="btnGhiDanh">Ghi Danh</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" data-dismiss="modal" id="btnCapNhatND">Cập Nhật</button>
                        <button class="btn btn-danger" id="btnXoaNĐEit">Xoá Người Dùng</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
