<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body class="p-0">
    <!-- Start navbar -->
    <header class="navbar fixed-top px-1 px-md-4">
        <a href="/" class="navbar__logo"><img src="../../../assets/images/logo.png" alt=""></a>
    </header>
    <!-- End navbar -->
    <!-- Burger-icon -->
    <div class="burger-icon aqua-gradient fixed fixed-right border-0">
        <div class="burger"></div>
    </div>
    <!-- End burger-icon -->

    <main>
        <!-- Start slider -->
        <section class="slider" id="slider-page">
            <div class="slider__overlay" id="particles-js"></div>
            <div class="container">
                <div class="row slider__caption">
                    <div class="col-12">
                        <h1 class="display-4 ">CYBERSOFT</h1>
                        <h4 class="mb-5 mt-2">Trung tâm đào tạo chuyên gia lập trình.</h4>
                        <button href="#" class="btn btn-light rounded-1 btn-lg">Thông tin</button>
                    </div>
                </div>
            </div>
        </section>
        <!-- End slider -->

        <!-- Start sideBar -->
        <nav class="sidebar">
            <div class="sidebar__content">
                <div class="sidebar__top text-center">
                    <a href="#" class="mb-3"><img src="../../../assets/images/logo.png" alt=""></a>
                    <h3 class="text-center">CYBERSOFT</h3>
                </div>
                <ul class="sidebar__menu w-100 my-5">
                    <li class="sidebar__item">
                        <a href="#slider-page" class="sidebar__link">
                            <i class="fa fa-home"></i> Trang Chủ
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#about-page" class="sidebar__link">
                            <i class="fa fa-male"></i> Giới Thiệu
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#khoaHoc-page" class="sidebar__link">
                            <i class="fa fa-briefcase"></i> Khóa Học
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#giangVien-page" class="sidebar__link">
                            <i class="fa fa-black-tie"></i> Giảng Viên
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#camNhan-page" class="sidebar__link">
                            <i class="fa fa-commenting"></i> Cảm Nhận Học Viên
                        </a>
                    </li>
                    <li class="sidebar__item">
                        <a href="#lienLac-page" class="sidebar__link">
                            <i class="fa fa-bookmark"></i> Liên Hệ
                        </a>
                    </li>
                </ul>
                <ul class="sidebar__social d-flex justify-content-center flex-column align-items-center">
                    <li>
                        <h3 class="text-white mb-2">Social</h3>
                    </li>
                    <li>
                        <a href="#" class="fa fa-facebook" target="_blank"></a>
                        <a href="#" class="fa fa-youtube" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End sideBar -->


        <!-- <hr class="my-4" style="border-color: transparent"> -->
        <!-- Start about  -->
        <section class="about" id="about-page">
            <div class="about__overlay"></div>
            <div class="about__gioithieu">
                <div class="container about__content">
                    <div class="row">
                        <div class="col-12 pt-5 left">
                            <div class="about__title title text-center ">
                                <h2 class="display-4 heading-secondary text-white">Giới Thiệu</h2>
                            </div>
                            <div class="main-content-intro ">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p>CNTT hiện nay rất phát triển và quan trọng trong thực tế, ứng dụng CNTT đã tạo ra nhiều sản phẩm góp phần nâng cao chất lượng cuộc sống của con người, tạo nền tảng giúp nền kinh tế phát triển. Có thể thấy, một
                                                đất nước phát triển cần một nền CNTT mạnh, đội ngũ kỹ sư IT tài năng.
                                            </p>
                                            <p>Nhu cầu tuyển dụng ngày càng cao, nhân sự yêu cần ngày càng chất lượng, tuy vậy rất nhiều bạn sinh viên ra trường đều không đáp ứng được yêu cầu tuyển dụng. Do phần lớn các bạn thiếu kinh nghiệm về kiến thức
                                                chuyên môn vì vốn dĩ khi học, bạn chỉ được cung cấp kiến thức lý thuyết mà thiếu sự thực hành dự án. Bên cạnh đó, các kỹ năng mềm như kỹ năng làm việc nhóm hay kỹ năng giải quyết vấn đề của bạn cũng chưa
                                                cao. Đây chính là nguyên nhân khiến bạn khó vượt qua các vòng tuyển dụng của một công ty tốt.
                                        </div>
                                        <div class="col-md-6">
                                            <p>Chưa hết, các bạn trẻ thường thiếu tư duy trong công việc, cách làm việc còn non trẻ, phong cách lập trình chưa ổn, thiếu khả năng phân tích. Vì thế, khi bắt tay vào dự án thực tế hay bất kỳ dự án lớn thì đa
                                                phần các bạn sẽ gặp khó khăn, bỡ ngỡ, không biết nên bắt đầu như thế nào.
                                            </p>
                                            <p>Nắm bắt được nhu cầu thiết thực đó cùng với sự tâm huyết và kinh nghiệm có được, đội ngũ học viện CyberSoft.edu.vn ra đời với mong muốn mang tất cả những kinh nghiệm đã tích lũy trong quá trình thực tế để truyền
                                                đạt, mang lại niềm cảm hứng và một nền tảng vững chắc cho các bạn học viên theo đuổi ngành CNTT.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" col-md-6 m-auto pt-4 mb-5 mb-md-0  ">
                            <a href="#" data-target="#modal-video" data-toggle="modal" class="fa fa-play icon icon-info rounded-circle fa-2x m-auto nutPlay z-depth-1-half"></a>
                        </div>
                    </div>
                </div>


            </div>
            </div>
            <div class="modal fade" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="max-width: 600px">
                    <div class="modal-content">
                        <div class="modal-body embed-responsive embed-responsive-16by9">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/SPswqWq7wMI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End diem uu viet -->
        </section>
        <!-- End about -->
        <section>
            <div class="row px-md-5 py-md-4 diem-uu-viet ">
                <div class="col-12 pl-3 pl-md-0">
                    <div class="about__title title__small title text-center">
                        <h2 class="display-4 heading-secondary">Điểm Ưu Việt</h2>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-12 p-0 p-md-2">
                    <div class="one-block-intro d-flex flex-column justify-content-between align-items-center one-block">
                        <div class="icon-intro d-flex justify-content-center align-items-center"><i class="fa fa-sitemap"></i></div>
                        <h2 class="text-center">Học theo lộ trình, có định hướng</h2>
                        <p class="text-center">CyberSoft sẽ định hướng và đưa ra các lộ trình học tập cho nghề bạn theo đuổi. Phát triển năng lực và niềm đam mê cảm hứng lập trình của bạn.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-12 p-0 p-md-2">
                    <div class="one-block-intro d-flex flex-column justify-content-between align-items-center one-block">
                        <div class="icon-intro d-flex justify-content-center align-items-center"><i class="fa fa-archive"></i></div>
                        <h2 class="text-center">Nền tảng, tư duy, cốt lõi trong lập trình</h2>
                        <p class="text-center">CyberSoft cung cấp những nền tảng, giá trị tư duy cốt lõi nhất trong lập trình. Bạn sẽ tự tin trước sự thay đổi của công nghệ và môi trường làm việc.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-12 p-0 p-md-2">
                    <div class="one-block-intro d-flex flex-column justify-content-between align-items-center one-block">
                        <div class="icon-intro d-flex justify-content-center align-items-center"><i class="fa fa-hand-rock-o"></i></div>
                        <h2 class="text-center">Mài giũa bạn qua kinh nghiệm, dự án thực tế</h2>
                        <p class="text-center">Đội ngũ Giảng viên và các Mentor là những người dày dạn kinh nghiệm qua các dự án thực tế tại các công ty lớn sẽ truyền đạt những kinh nghiệm "máu lửa" cho bạn..</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-12 p-0 p-md-2">
                    <div class="one-block-intro d-flex flex-column justify-content-between align-items-center one-block">
                        <div class="icon-intro d-flex justify-content-center align-items-center"><i class="fa fa-users"></i></div>
                        <h2 class="text-center">Teamwork, Scrum - Agile. Mentor tận tâm</h2>
                        <p class="text-center">Bạn sẽ được giao dự án và làm theo Teamwork ngay từ ngày đầu tiên. Đóng vai trò một thành viên trong qui trình Scrum, Agile. Được Mentor hỗ trợ tân tâm, nhiệt tình.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-12 p-0 p-md-2">
                    <div class="one-block-intro d-flex flex-column justify-content-between align-items-center one-block">
                        <div class="icon-intro d-flex justify-content-center align-items-center"><i class="fa fa-magic"></i></div>
                        <h2 class="text-center">Công nghệ mới, chuyên sâu, thực tế</h2>
                        <p class="text-center">Bạn được học và trải nghiệm các công nghệ lập trình mới nhất, chuyên sâu, bám sát nhu cầu tuyển dụng thực tế từ doanh nghiệp.</p>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-12 p-0 p-md-2">
                    <div class="one-block-intro d-flex flex-column justify-content-between align-items-center one-block">
                        <div class="icon-intro d-flex justify-content-center align-items-center"><i class="fa fa-flag"></i></div>
                        <h2 class="text-center">Trao tay chìa khóa thành công toàn diện</h2>
                        <p class="text-center">Hướng dẫn viết CV, phỏng vấn. Kết nối doanh nghiệp, gặp gỡ doanh nghiệp, phỏng vấn cùng doanh nghiệp ngay sau khi tốt nghiệp.</p>
                    </div>
                </div>
            </div>
        </section>

        <hr class="my-4" style="border-color: transparent;">

        <section class="khoaHoc " id="khoaHoc-page">
            <div class="khoaHoc__title title text-center">
                <h2 class="display-4  heading-secondary">Khóa Học</h2>
            </div>
            <div class="khoaHoc__content">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4 col-12 mb-5 p-md-4 p-1">
                            <div class="khoaHoc__one-block card w-100">
                                <div class="card-img-top z-depth-1-half">
                                    <img src="../../../assets/images/kh1.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="card-body text-center z-depth-2">
                                    <div class="card-title khoaHoc__ten black-color">
                                        <h3>Front End 1</h3>
                                    </div>
                                    <div class="khoaHoc__type indigo-color">
                                        <h5>Lâp Trình - Thiết Kế Website</h5>
                                    </div>
                                    <div class="khoaHoc__giangVien">
                                        <p>Giảng Viên: Lê Quang Song</p>
                                    </div>
                                    <div class="khoaHoc__prize">
                                        <code id="prize">$30</code>
                                    </div>
                                    <a href="#" class="btn aqua-gradient text-white border-0">
                                        <i class="fa fa-pencil"></i> Xem Chi Tiết
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 mb-5 p-md-4 p-1">
                            <div class="khoaHoc__one-block card w-100">
                                <div class="card-img-top z-depth-1-half">
                                    <img src="../../../assets/images/kh2.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="card-body text-center z-depth-2">
                                    <div class="card-title khoaHoc__ten black-color">
                                        <h3>Front End 1</h3>
                                    </div>
                                    <div class="khoaHoc__type indigo-color">
                                        <h5>Lâp Trình - Thiết Kế Website</h5>
                                    </div>
                                    <div class="khoaHoc__giangVien">
                                        <p>Giảng Viên: Lê Quang Song</p>
                                    </div>
                                    <div class="khoaHoc__prize">
                                        <code id="prize">$30</code>
                                    </div>
                                    <a href="#" class="btn aqua-gradient text-white border-0">
                                        <i class="fa fa-pencil"></i> Xem Chi Tiết
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-12 mb-5 p-md-4 p-1">
                            <div class="khoaHoc__one-block card w-100">
                                <div class="card-img-top z-depth-1-half">
                                    <img src="../../../assets/images/kh4.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="card-body text-center z-depth-2">
                                    <div class="card-title khoaHoc__ten black-color">
                                        <h3>Front End 1</h3>
                                    </div>
                                    <div class="khoaHoc__type indigo-color">
                                        <h5>Lâp Trình - Thiết Kế Website</h5>
                                    </div>
                                    <div class="khoaHoc__giangVien">
                                        <p>Giảng Viên: Lê Quang Song</p>
                                    </div>
                                    <div class="khoaHoc__prize">
                                        <code id="prize">$30</code>
                                    </div>
                                    <a href="#" class="btn aqua-gradient text-white border-0">
                                        <i class="fa fa-pencil"></i> Xem Chi Tiết
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 mb-5 p-md-4 p-1">
                            <div class="khoaHoc__one-block card w-100">
                                <div class="card-img-top z-depth-1-half">
                                    <img src="../../../assets/images/kh3.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="card-body text-center z-depth-2">
                                    <div class="card-title khoaHoc__ten black-color">
                                        <h3>Front End 1</h3>
                                    </div>
                                    <div class="khoaHoc__type indigo-color">
                                        <h5>Lâp Trình - Thiết Kế Website</h5>
                                    </div>
                                    <div class="khoaHoc__giangVien">
                                        <p>Giảng Viên: Lê Quang Song</p>
                                    </div>
                                    <div class="khoaHoc__prize">
                                        <code id="prize">$30</code>
                                    </div>
                                    <a href="#" class="btn aqua-gradient text-white border-0">
                                        <i class="fa fa-pencil"></i> Xem Chi Tiết
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 mb-5 p-md-4 p-1">
                            <div class="khoaHoc__one-block card w-100">
                                <div class="card-img-top z-depth-1-half">
                                    <img src="../../../assets/images/kh4.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="card-body text-center z-depth-2">
                                    <div class="card-title khoaHoc__ten black-color">
                                        <h3>Front End 1</h3>
                                    </div>
                                    <div class="khoaHoc__type indigo-color">
                                        <h5>Lâp Trình - Thiết Kế Website</h5>
                                    </div>
                                    <div class="khoaHoc__giangVien">
                                        <p>Giảng Viên: Lê Quang Song</p>
                                    </div>
                                    <div class="khoaHoc__prize">
                                        <code id="prize">$30</code>
                                    </div>
                                    <a href="#" class="btn aqua-gradient text-white border-0">
                                        <i class="fa fa-pencil"></i> Xem Chi Tiết
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-12 mb-5 p-md-4 p-1">
                            <div class="khoaHoc__one-block card w-100">
                                <div class="card-img-top z-depth-1-half">
                                    <img src="../../../assets/images/kh1.jpeg" class="img-fluid" alt="">
                                </div>
                                <div class="card-body text-center z-depth-2">
                                    <div class="card-title khoaHoc__ten black-color">
                                        <h3>Front End 1</h3>
                                    </div>
                                    <div class="khoaHoc__type indigo-color">
                                        <h5>Lâp Trình - Thiết Kế Website</h5>
                                    </div>
                                    <div class="khoaHoc__giangVien">
                                        <p>Giảng Viên: Lê Quang Song</p>
                                    </div>
                                    <div class="khoaHoc__prize">
                                        <code id="prize">$30</code>
                                    </div>
                                    <a href="#" class="btn aqua-gradient text-white border-0">
                                        <i class="fa fa-pencil"></i> Xem Chi Tiết
                                    </a>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 text-center">
                            <a href="/khoahoc.html" target="_blank" class="btn btn-outline-primary">
                            Xem Toàn Bộ Khóa Học
                            <span class="ml-2 fa fa-angle-double-right"></span>
                        </a>
                        </div>

                    </div>
                </div>
        </section>



        <hr class="my-5" style="border-color: transparent">
        <section class="giangVien py-5 " id="giangVien-page">
            <div class="container mb-5">
                <div class="row text-center">
                    <div class="col-12 giangVien__title title mb-2">
                        <h2 class="display-4  heading-secondary text-white">Giảng Viên</h2>
                    </div>
                    <div class="col-md-7 col-10 mx-auto text-white">
                        <p>CÚNG TÔI CÓ HÀNG LOẠT NHỮNG GIÁ TRỊ ĐỂ CHỨNG MINH VỚI BẠN VỀ NĂNG LỰC VƯỢT TRỘI CỦA CHÚNG TÔI ĐỂ BẠN RA QUYẾT ĐỊNH NGAY TẠI SAO CHỌN CHÚNG TÔI CHO NGHỀ NGHIỆP CỦA BẠN. ĐẦU TIÊN, CHÚNG TÔI LÀ AI ?</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 m-auto">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xl-4 d-inline-flex justify-content-center">

                                    <div class="teacher" data-toggle="modal" data-target="#giangVien1">
                                        <div class="teacher__photo">
                                            <a href="#">
                                                <img src="../../../assets/images/giaovien1.jpeg" alt="">
                                            </a>
                                        </div>
                                        <div class="teacher__info">
                                            <span class="teacher__title">Giảng viên</span>
                                            <h5 class="teacher__name">Lê Quang Song</h5>
                                            <ul class="teacher__social">
                                                <li><a href=""><em class="fa fa-facebook text-white"></em></a></li>
                                                <li><a href=""><em class="fa fa-linkedin text-white"></em></a></li>
                                                <li><a href=""><em class="fa fa-twitter text-white"></em></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xl-4 d-inline-flex justify-content-center">
                                    <div class="teacher">
                                        <div class="teacher__photo" data-toggle="modal" data-target="#giangVien2">
                                            <a href="#"><img src="../../../assets/images/giaovien2.jpeg" alt=""></a>
                                        </div>
                                        <div class="teacher__info">
                                            <span class="teacher__title">Giảng viên</span>
                                            <h5 class="teacher__name">Lê Quang Song</h5>
                                            <ul class="teacher__social">
                                                <li><a href=""><em class="fa fa-facebook text-white"></em></a></li>
                                                <li><a href=""><em class="fa fa-linkedin text-white"></em></a></li>
                                                <li><a href=""><em class="fa fa-twitter text-white"></em></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xl-4 d-inline-flex justify-content-center">
                                    <div class="teacher">
                                        <div class="teacher__photo" data-toggle="modal" data-target="#giangVien3">
                                            <a href=""><img src="../../../assets/images/giaovien3.jpeg" alt=""></a>
                                        </div>
                                        <div class="teacher__info">
                                            <span class="teacher__title">Giảng viên</span>
                                            <h5 class="teacher__name">Lê Quang Song</h5>
                                            <ul class="teacher__social">
                                                <li><a href=""><em class="fa fa-facebook text-white"></em></a></li>
                                                <li><a href=""><em class="fa fa-linkedin text-white"></em></a></li>
                                                <li><a href=""><em class="fa fa-twitter text-white"></em></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- <hr class="my-5" style="border-color: transparent;"> -->



        <!-- Cam nhan hoc vien -->
        <section class="camNhan " id="camNhan-page">
            <div class="camNhan__overlay "></div>
            <div class="container camNhan__content">
                <div class="row">
                    <div class="col-12">
                        <div class="camNhan__title title text-center">
                            <h2 class="display-4  heading-secondary ">Học Viên Nói Gì Về Chúng Tôi?</h2>
                        </div>
                    </div>
                </div>

                <div class="row owl-carousel owl-theme m-auto">
                    <div class="col-12 m-auto px-1 px-md-5  d-flex align-items-center">
                        <div class="comment w-100 ">
                            <div class="comment__content">
                                <figure class="comment__shape m-auto">
                                    <img src="../../../assets/images/01.jpeg" class="comment__img">
                                    <figcaption class="comment__caption">Tèo Anh</figcaption>
                                </figure>
                                <div class="comment__text">
                                    <div class="comment__info mb-3">
                                        <h3 class="m-0 comment__author">Tèo Anh <span class="comment__class"> - Front-end 01</span></h3>
                                    </div>
                                    <blockquote>
                                        Đây là trung tâm đầu tiên mà học tập nhưng nhận được rất nhiều nguồn cảm hứng và động lực. Mình được định hướng rõ ràng để trở thành một front end chuyên nghiệp. Được thực hành rất nhiều dự án thực tế
                                    </blockquote>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-12 m-auto px-1 px-md-5 d-flex align-items-center">
                        <div class="comment w-100 ">
                            <div class="comment__content">
                                <figure class="comment__shape m-auto">
                                    <img src="../../../assets/images/01.jpeg" class="comment__img">
                                    <figcaption class="comment__caption">Tèo Anh</figcaption>
                                </figure>
                                <div class="comment__text">
                                    <div class="comment__info mb-3">
                                        <h3 class="m-0 comment__author">Tèo Anh <span class="comment__class"> - Front-end 01</span></h3>

                                    </div>
                                    <blockquote>
                                        Đây là trung tâm đầu tiên mà học tập nhưng nhận được rất nhiều nguồn cảm hứng và động lực. Mình được định hướng rõ ràng để trở thành một front end chuyên nghiệp. Được thực hành rất nhiều dự án thực tế. Mỗi lần mà mình không hiểu hoặc thiếu kiến thức thì
                                        được giảng viên và mentor hỗ trợ ngay. Được học rất nhiều công nghệ mới. Mình cảm thấy rất tuyệt vời và cám ơn cybersoft rất nhiều được giảng viên và mentor hỗ trợ ngay. Được học rất nhiều công nghệ mới. Mình cảm
                                        thấy rất tuyệt vời và cám ơn cybersoft rất nhiều được giảng viên và mentor hỗ trợ ngay. Được học rất nhiều công nghệ mới. Mình cảm thấy rất tuyệt vời và cám ơn cybersoft rất nhiều
                                    </blockquote>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-12 m-auto px-1 px-md-5  d-flex align-items-center">
                        <div class="comment w-100 ">
                            <div class="comment__content">
                                <figure class="comment__shape m-auto">
                                    <img src="../../../assets/images/01.jpeg" class="comment__img">
                                    <figcaption class="comment__caption">Tèo Anh</figcaption>
                                </figure>
                                <div class="comment__text">
                                    <div class="comment__info mb-3">
                                        <h3 class="m-0 comment__author">Tèo Anh <span class="comment__class"> - Front-end 01</span></h3>

                                    </div>
                                    <blockquote>
                                        Đây là trung tâm đầu tiên mà học tập nhưng nhận được rất nhiều nguồn cảm hứng và động lực. Mình được định hướng rõ ràng để trở thành một front end chuyên nghiệp. Được thực hành rất nhiều dự án thực tế. Mỗi lần mà mình không hiểu hoặc thiếu kiến thức thì
                                        được giảng viên và mentor hỗ trợ ngay. Được học rất nhiều công nghệ mới. Mình cảm thấy rất tuyệt vời và cám ơn cybersoft rất nhiều
                                    </blockquote>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End cam nhan hoc vien -->

        <!-- <hr style="border-color: transparent;" class="my-4"> -->

        <section class="lienLac" id="lienLac-page">
            <div class="container-contact100 p-0 container">

                <div class="wrap-contact100 row w-100">
                    <form class="contact100-form validate-form col-md-5 col-12">
                        <div class="row">
                            <div class="col-12">
                                <div class="camNhan__title title text-center">
                                    <h2 class="display-4  heading-secondary">Hãy Liên Hệ Với Chúng Tôi!
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="wrap-input100 validate-input" data-validate="Name is required">
                            <!-- <label class="label-input100" for="name">Họ tên</label> -->
                            <input id="name" class="input100" type="text" placeholder="Họ tên" name="name">
                            <span class="focus-input100"></span>
                        </div>


                        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                            <!-- <label class="label-input100" for="email">Email </label> -->
                            <input id="email" class="input100" placeholder="Email" type="text" name="email">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input">
                            <!-- <label class="label-input100" for="number">Số điện thoại</label> -->
                            <input id="number" class="input100" type="text" placeholder="Số điện thoại" name="email">
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input" data-validate="Message is required">
                            <!-- <label class="label-input100" for="message">Tin nhắn</label> -->
                            <textarea id="message" class="input100" placeholder="Tin nhắn" name="message"></textarea>
                            <span class="focus-input100"></span>
                        </div>

                        <button class="btn btn-primary rounded-1 btn-lg ">
                            Gửi 
                        </button>


                    </form>

                    <div class="col-md-7 col-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.443057023747!2d106.66361001452853!3d10.777338592320906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752edb20b613a9%3A0xcced6e2169f173b8!2zNDU5IC0gTOG6plUsIDU4NS8yIFPGsCBW4bqhbiBI4bqhbmgsIFBoxrDhu51uZyAxMywgUXXhuq1uIDEwLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1524140158594"
                            rameborder="0" style="border:0; height: calc(100vh - 100px); width: 100%" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer__block">
                        <a href="/" title="CyberSoft" class="footer__logo">
                            <img src="../../../assets/images/logo-footer.png" alt="CyberSoft">
                        </a>
                        <div class="footer__content mt-3">
                            <p>CyberSoft Academy là học viện tiên phong tại Việt Nam áp dụng phương pháp đào tạo Active Learning và Flipped Learning thông qua các dự án thực tiễn trong lĩnh vực đào tạo CNTT. Học viên sẽ đóng vai trò là một Scrum member trong
                                mô hình Agile để trở thành một lập trình chuyên nghiệp, đáp ứng mọi nhu cầu tuyển dụng của Doanh nghiệp</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block-footer block-footer-margin">
                        <h3 class="footer__title"><span>THÔNG TIN</span></h3>
                        <ul class="footer__menu ">
                            <li class="footer__item"><a href=""><span>Trang chủ</span></a></li>
                            <li class="footer__item"><a href=""><span>Giới thiệu</span></a></li>
                            <li class="footer__item"><a href=""><span>Khoá học</span></a>
                            </li>
                            <li class="footer__item"><a href=""><span>Giảng viên</span></a></li>
                            <li class="footer__item"><a href=""><span>Cảm nhận học viên</span></a></li>

                            <li class="footer__item"><a href=""><span>Liên hệ</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer__block">
                        <h3 class="footer__title"><span>LIÊN HỆ </span></h3>
                        <ul class="footer__info">
                            <li class="footer__item">
                                <b>ĐC:</b> 459 Sư Vạn Hạnh, Quận 10 - HCM </li>
                            <li class="footer__item">
                                <b>T:</b> +84 961.05.10.14 </li>
                            <li class="footer__item">
                                <b>E:</b> info@cybersoft.edu.vn </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div>
        <div class=" footer__copyright text-center py-3">

            <p>© Bản quyền CyberSoft 2017. Empower by MyClass.vn</p>
            <!-- end bottom -->

        </div>
        <!-- end row -->
    </footer>


    <div class="block-form">
        <div class="block-btn-form">
            <a href="#" class="btn-dangky btn-contact" data-toggle="modal" data-target="#formDangKy">
                <span>Đăng ký</span>
                <span class="fa fa-book icon icon-info rounded-circle"></span>
            </a>
            <a href="#" class="btn-dangnhap btn-contact" data-toggle="modal" data-target="#formDangNhap">
                <span>Đăng nhập</span>
                <span class="fa fa-sign-in icon icon-info rounded-circle"></span>
            </a>
            <a href="#" class="btn-timKiem btn-contact" data-toggle="modal" data-target="#FormTimKiem">
                <span>Tìm kiếm...</span>
                <span class="fa fa-search icon icon-info rounded-circle"></span>
            </a>
        </div>
    </div>

    <div class="modal fade p-0 modalDangKy modalForm" id="formDangKy" role="dialog">
        <div class="modal-dialog" role="document" style="max-width: initial;">
            <div class="modal-content container w-75">

                <div class="modal-body row p-0">

                    <div class="col-lg-6 col-12 m-0 right">
                        <div class="container">
                            <form id="register-form" class="row" method="POST">
                                <div class="col-12 text-center mb-3">
                                    <h2 class="modal-heading ">Đăng Ký</h2>
                                </div>
                                <div class="col-12 colInput">
                                    <span class="input input--jiro ">
                                                    <input name="HoTen" class="input__field input__field--jiro txt" type="text" id="inputHoTenDK" data-thongbao="tbTen"/>
                                                    <label class="input__label input__label--jiro" for="inputHoTenDK">
                                                        <span class="input__label-content input__label-content--jiro">Họ Tên...</span>
                                    </label>
                                    <span class="divTB" id="tbTen"></span>
                                    </span>
                                </div>
                                <div class="col-12 colInput">
                                    <span class="input input--jiro ">
                                                    <input name="tenTaiKhoan" class="input__field input__field--jiro txt" type="text" id="inputTenTKDK"  data-thongbao="tbTK"/>
                                                    <label class="input__label input__label--jiro" for="inputTenTKDK">
                                                        <span class="input__label-content input__label-content--jiro">Tên Tài Khoản</span>
                                    </label>
                                    <span class="divTB " id="tbTK"></span>
                                    </span>
                                </div>
                                <div class="col-12 colInput">
                                    <span class="input input--jiro ">
                                                <input name="mail" class="input__field input__field--jiro txt" type="text" id="inputEmailDK"  data-thongbao="tbEmail" />
                                                <label class="input__label input__label--jiro" for="inputEmailDK">
                                                    <span class="input__label-content input__label-content--jiro">Email</span>
                                    </label>
                                    <span class="divTB" id="tbEmail"></span>
                                    </span>
                                </div>
                                <div class="col-12 colInput">
                                    <span class="input input--jiro ">
                                            <input name="SDT" class="input__field input__field--jiro txt" type="text" id="inputSDTDK"  data-thongbao="tbSDT" />
                                            <label class="input__label input__label--jiro" for="inputSDTDK">
                                                <span class="input__label-content input__label-content--jiro">Số Điện Thoại</span>
                                    </label>
                                    <span class="divTB " id="tbSDT"></span>
                                    </span>
                                </div>
                                <div class="col-12  colInput">
                                    <span class="input input--jiro ">
                                        <input name="matKhau" class="input__field input__field--jiro txt" type="password" id="inputPASSDK"  data-thongbao="tbMK"/>
                                        <label class="input__label input__label--jiro" for="inputPASSDK">
                                            <span class="input__label-content input__label-content--jiro">Nhập Mật Khẩu</span>
                                    </label>
                                    <span class="divTB " id="tbMK"></span>
                                    </span>
                                </div>
                                <div class="col-12 colInput">
                                    <span class="input input--jiro ">
                                    <input name="reMatKhau" class="input__field input__field--jiro txt" type="password" id="inputRePASSDK" data-thongbao="tbReMK" />
                                    <label class="input__label input__label--jiro" for="inputRePASSDK">
                                        <span class="input__label-content input__label-content--jiro">Nhập Mật Lại Khẩu</span>
                                    </label>
                                    <span class="divTB " id="tbReMK"></span>
                                    </span>
                                </div>
                                <div class="col-12 colInput text-center">
                                    <button class="btn btn-primary  rounded-1" type="submit" id="btnDangKy">Đăng Ký</button>
                                </div>
                                <ul class="col-12 colInput d-flex justify-content-center colInput--social">
                                    <li>
                                        <a href="#" class="fa fa-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-github"></a>
                                    </li>
                                </ul>
                            </form>

                        </div>
                    </div>

                    <div class="col-lg-6 col-12 left d-none d-lg-block text-center">
                        <!-- <div class="overlay"></div> -->
                        <h2 class="heading-secondary text-white mt-5">Welcome To <br> CyberSoft
                        </h2>
                    </div>
                    <!-- End Left -->


                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modalDangNhap  modalForm" id="formDangNhap">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body container">
                    <div class="row">
                        <div class="col-12 text-center mb-3">
                            <h2 class="modal-heading ">Đăng Nhập</h2>
                        </div>
                        <div class="col-12">
                            <form class="container" id="sign-up-form">
                                <div class="row">

                                    <div class="col-12 colInput">
                                        <span class="input input--jiro ">
                                        <input name="TKDN" class="input__field input__field--jiro txt" type="text" id="inputTKDN"/>
                                        <label class="input__label input__label--jiro" for="inputTKDN">
                                            <span class="input__label-content input__label-content--jiro">Tài Khoản</span>
                                        </label>
                                        </span>
                                    </div>
                                    <div class="col-12 colInput">
                                        <span class="input input--jiro ">
                                        <input name="passwordDN" class="input__field input__field--jiro txt" type="password" id="inputPassDN"/>
                                        <label class="input__label input__label--jiro" for="inputPassDN">
                                            <span class="input__label-content input__label-content--jiro">Mật Khẩu</span>
                                        </label>
                                        </span>
                                    </div>
                                    <div class="col-12 colInput text-center">
                                        <button class="btn btn-primary  rounded-1" type="submit" id="btnDangNhap">Đăng Nhập</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade modalTimKiem  modalForm" id="FormTimKiem">
        <div class="modal-dialog" style="max-width: 650px !important">
            <div class="modal-content">
                <div class="modal-body container pb-0 px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12 colInput">
                                <span class="input input--jiro">
                                <input class="input__field input__field--jiro txt" type="text" id="inputTimKiem"/>
                                <label class="input__label input__label--jiro" for="inputTimKiem">
                                    <span class="input__label-content input__label-content--jiro">Tìm Kiếm Khoá học</span>
                                </label>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="block-kh">
                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- <hr style="margin: 3rem 0; border-color: transparent;"> -->

    <div class="modal fade popUpGiangVien" id="giangVien1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-header border-0 pt-3 pb-0">
                    <div class="modal-title">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-5 col-12 d-flex justify-content-center align-items-center">
                                <img src="../../../assets/images/giaovien1.jpeg" style="min-width: 100%" class="img-fluid" alt="">
                            </div>

                            <div class="col-md-7 col-12 pt-4 pl-1 pr-0">
                                <h2>LÊ QUANG SONG</h2>
                                <h5 class="text-muted">GIÁM ĐỐC ĐIỀU HÀNH</h5>
                                <div class="gach info-gradient"></div>
                                <ul class="giangVienSocial d-flex">
                                    <li>
                                        <a href="#" class="fa fa-facebook facebook-color icon icon-info rounded-circle mr-2"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter twitter-color icon icon-info rounded-circle mr-2"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin linkedin-color icon icon-info rounded-circle mr-2"></a>
                                    </li>
                                </ul>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ratione omnis cupiditate beatae, quod nesciunt sed ipsam tenetur porro adipisci optio aspernatur est, doloribus, culpa facere laudantium corporis. Libero, excepturi.</p>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos veritatis beatae molestias voluptatem sapiente consequatur perspiciatis fugiat sunt provident distinctio vel architecto hic ratione esse voluptatum tempore necessitatibus
                                    voluptas ipsam magni dolores voluptates, sed aperiam perferendis. Facere porro similique consectetur.</p>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- modal body -->
            </div>
        </div>
    </div>
    <!-- End modal -->

    <div class="modal fade popUpGiangVien" id="giangVien2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-header border-0 pt-3 pb-0">
                    <div class="modal-title">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                </div>
                <div class="modal-body">

                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-5 col-12 d-flex justify-content-center align-items-center">
                                <img src="../../../assets/images/giaovien2.jpeg" style="min-width: 100%" class="img-fluid" alt="">
                            </div>

                            <div class="col-md-7 col-12 pt-4 pl-1 pr-0">
                                <h2>LÊ QUANG SONG</h2>
                                <h5 class="text-muted">GIÁM ĐỐC ĐIỀU HÀNH</h5>
                                <div class="gach info-gradient"></div>
                                <ul class="giangVienSocial d-flex">
                                    <li>
                                        <a href="#" class="fa fa-facebook facebook-color icon icon-info rounded-circle mr-2"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter twitter-color icon icon-info rounded-circle mr-2"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin linkedin-color icon icon-info rounded-circle mr-2"></a>
                                    </li>
                                </ul>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ratione omnis cupiditate beatae, quod nesciunt sed ipsam tenetur porro adipisci optio aspernatur est, doloribus, culpa facere laudantium corporis. Libero, excepturi.</p>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos veritatis beatae molestias voluptatem sapiente consequatur perspiciatis fugiat sunt provident distinctio vel architecto hic ratione esse voluptatum tempore necessitatibus
                                    voluptas ipsam magni dolores voluptates, sed aperiam perferendis. Facere porro similique consectetur.</p>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- modal body -->
            </div>
        </div>
    </div>
    <!-- End modal -->

    <div class="modal fade popUpGiangVien" id="giangVien3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="min-width: 100%" style="max-width: 1000px">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="modal-header border-0 pt-3 pb-0">
                        <div class="modal-title">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-md-5 col-12 d-flex justify-content-center align-items-center">
                                <img src="../../../assets/images/giaovien3.jpeg" class="img-fluid" alt="">
                            </div>

                            <div class="col-md-7 col-12 pt-4 pl-1 pr-0">
                                <h2>LÊ QUANG SONG</h2>
                                <h5 class="text-muted">GIÁM ĐỐC ĐIỀU HÀNH</h5>
                                <div class="gach info-gradient"></div>
                                <ul class="giangVienSocial d-flex">
                                    <li>
                                        <a href="#" class="fa fa-facebook facebook-color icon icon-info rounded-circle mr-2"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter twitter-color icon icon-info rounded-circle mr-2"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-linkedin linkedin-color icon icon-info rounded-circle mr-2"></a>
                                    </li>
                                </ul>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas ratione omnis cupiditate beatae, quod nesciunt sed ipsam tenetur porro adipisci optio aspernatur est, doloribus, culpa facere laudantium corporis. Libero, excepturi.</p>
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos veritatis beatae molestias voluptatem sapiente consequatur perspiciatis fugiat sunt provident distinctio vel architecto hic ratione esse voluptatum tempore necessitatibus
                                    voluptas ipsam magni dolores voluptates, sed aperiam perferendis. Facere porro similique consectetur.</p>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- modal body -->
            </div>
        </div>
    </div>
    <!-- End modal -->

</body>

</html>