<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User pages</title>

</head>

<body>
    <!-- Start Header-->
    <header class="header fixed-top">
        <div class="container-fluid header__content px-3 d-flex align-items-center justify-content-between">
            <a href="#" class="header__logo header__left h-100 d-flex align-items-center">
                <img src="../../../assets/images/logo.png" class="img-fluid" width="130" alt="">
            </a>
            <div class="nofication header__right">
                <span class="h-100 d-flex align-items-center">
					<i class="fa fa-envelope">
						<span class="badge badge-success rounded-circle">7</span>
                </i>
                <a href="#">
                    <strong>Admin</strong>
                </a>
                </span>
            </div>
        </div>
    </header>
    <!-- End Header -->
    <section class="profile">
        <div class="profile__header">

        </div>

        <div class="profile__body">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile__image">
                            <img class=" img-fluid" src="https://api.adorable.io/avatars/150/.png">

                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="profile__infor d-flex justify-content-between align-items-center">
                            <h4 class="profile__name"> Nguyễn văn a
                                <p class="profile__type"><span>Học viên</span></p>
                            </h4>

                            <p class="profile__email"><span>Email:</span> test@gmail.com</p>
                            <p class="profile__phone"><span>Số điện thoại:</span> 099993424</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="profile__course">

            </div>
        </div>
    </section>





    <div class="modal fade" id="modalHocVien" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h3>Modal-title</h3>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
                </div>
                <div class="modal-body container">
                    <form class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="TaiKhoan">Tài Khoản</label>
                                <input type="text" class="form-control" id="TaiKhoan" placeholder="Nhập Vào Tài Khoản">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="HoTen">Họ Tên</label>
                                <input type="text" class="form-control" id="HoTen" placeholder="Nhập Họ Tên">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control" id="Email" placeholder="Nhập Email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="SoDT">Số Điện Thoại</label>
                                <input type="text" class="form-control" id="SoDT" placeholder="Nhập Số Điện Thoại">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label for="SoDT">Loại Người Dùng</label>
                                <input type="text" class="form-control" readonly id="TenLoaiNguoiDung" value="Học Viên">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</body>