<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>


    <!--header -->
    <nav class="navbar navbar-expand-md navbar-light active" style="z-index: 11">
        <div class="container navbar__content">
            <div class="nav-res w-100">
                <a href="/" class="header__logo header__left h-100 d-flex align-items-center">
                    <img src="../../../assets/images/logo.png" class="img-fluid" width="130" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse align-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto menu-right h-100">
                <li class="nav-item">
                    <a class="nav-link" href="#slider-page">Trang Chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#khoahoc-page">Khoá Học Của Tôi</a>
                </li>
                <li class="nav-item divInfo" data-target="#modalInfoUser" data-toggle="modal">
                    <span class="divIcon">
                        <a href="#" class="nav-link">
                            <i class="fa fa-user fa-2x"></i>
                        </a>
                    </span>
                    <span class="fa fa-angle-down"></span>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End header -->

    <!-- Slider -->
    <section class="slider" id="slider-page">
        <div class="overlay"></div>
        <div class="container">
            <div class="slider__content">
                <h2>CYBERSOFT</h2>
                <h5>TRUNG TÂM ĐÀO TẠO CHUYÊN GIA LẬP TRÌNH.</h5>
            </div>
        </div>
    </section>
    <!-- End Slider -->


    <!-- list Khoa hoc -->

    <section class="khoaHoc" id="khoahoc-page" style="margin-top: 5rem">

        <div class="container khoaHoc__content">
            <div class="row title mb-4">
                <div class="col-12 text-center">
                    <h3 class="display-4 heading-secondary">
                        Danh Sách Khoá Học
                    </h3>
                </div>
            </div>

            <div class="row ListKhoaHoc">
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-12 text-center">
                <a class="btn btn-outline-primary" href="/khoahoc.html" target="framename">Xem Thêm Khoá Học</a>
            </div>
        </div>

    </section>


    <footer class="footer pt-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="footer__block">
                        <a href="/" title="CyberSoft" class="footer__logo">
                            <h3>CYBERSOFT</h3>
                        </a>
                        <div class="footer__content mt-3">
                            <p>CyberSoft Academy là học viện tiên phong tại Việt Nam áp dụng phương pháp đào tạo Active Learning và Flipped Learning thông qua các dự án thực tiễn trong lĩnh vực đào tạo CNTT. Học viên sẽ đóng vai trò là một Scrum member trong
                                mô hình Agile để trở thành một lập trình chuyên nghiệp, đáp ứng mọi nhu cầu tuyển dụng của Doanh nghiệp</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="block-footer block-footer-margin">
                        <h3 class="footer__title"><span>THÔNG TIN</span></h3>
                        <ul class="footer__menu">
                            <li class="footer__item"><a href=""><span>Trang chủ</span></a></li>
                            <li class="footer__item"><a href=""><span>Giới thiệu</span></a></li>
                            <li class="footer__item"><a href=""><span>Khoá học</span></a>
                            </li>
                            <li class="footer__item"><a href=""><span>Giảng viên</span></a></li>
                            <li class="footer__item"><a href=""><span>Cảm nhận học viên</span></a></li>

                            <li class="footer__item"><a href=""><span>Liên hệ</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer__block">
                        <h3 class="footer__title"><span>LIÊN HỆ </span></h3>
                        <ul class="footer__info">
                            <li class="footer__item">
                                <b>ĐC:</b> 459 Sư Vạn Hạnh, Quận 10 - HCM </li>
                            <li class="footer__item">
                                <b>T:</b> +84 961.05.10.14 </li>
                            <li class="footer__item">
                                <b>E:</b> info@cybersoft.edu.vn </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class=" footer__copyright text-center py-3">
            <p>© Bản quyền CyberSoft 2017. Empower by MyClass.vn</p>
        </div>
    </footer>

    <div class="modal fade bd-example-modal-lg  modalForm" id="modalInfoUser" aria-hidden="true">
        <div class="modal-dialog modal-lg" style="max-width: 1100px">
            <div class="modal-content border-0">
                <div class="modal-body container m-0" style="background: #f7f7f7">
                    <div class="row">


                        <div class="col-lg-5 col-12 mb-5 titleInfo">
                            <div class="titleInfo__content w-100 z-depth-1-half">
                                <div class="avatar">
                                    <i class="fa fa-user fa-3x"></i>
                                </div>
                                <div class="userName">

                                </div>
                                <ul class="w-100">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" data-dismiss="modal">Trang Chủ</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a href="#" class="nav-link">Thông Tin Cá Nhân</a>
                                    </li class="nav-item">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" id="DangXuatND">Đăng Xuất</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-7 col-12 mainInfo z-depth-1-half">
                            <div class="row py-5">
                                <div class="col-12">
                                    <div class="modal-header d-flex align-items-center container">
                                        <div class="row w-100 d-flex align-items-center">
                                            <div class="col-md-6 col-12 mb-4 text-md-left text-center">
                                                <div class="modal-title header-tit">
                                                    <h5 class="modal-heading">Thông Tin Cá Nhân</h5>
                                                </div>
                                            </div>
                                            <div class="col-md-6 ol-12 mb-4 text-md-left text-center">
                                                <div class="header-tab d-flex flex-wrap justify-content-center">
                                                    <a href="" class="header-tab-item active" data-id="tabChiTiet">
                                                            Chi Tiết
                                                        </a>
                                                    <a href="" class="header-tab-item" data-id="tabMatKhau">
                                                            Thay Đổi Mật Khẩu
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="col-12">
                                    <div class="container-fluid mt-5">
                                        <div class="row data-tab  active" id="tabChiTiet">
                                            <div class="col-12 ">
                                                <div class="form-group w-75 mx-auto">
                                                    <label>Tài Khoản </label>
                                                    <input type="text" class="form-control disabled  txt" disabled id="inputTKEdit">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group w-75 mx-auto">
                                                    <label>Tên </label>
                                                    <input type="text" class="form-control txt" id="inputTenEdit">
                                                </div>
                                            </div>
                                            <div class="col-12 ">
                                                <div class="form-group w-75 mx-auto">
                                                    <label>Email </label>
                                                    <input type="text" class="form-control txt" id="inputEmailEdit">
                                                </div>
                                            </div>
                                            <div class="col-12 ">
                                                <div class="form-group w-75 mx-auto">
                                                    <label>Số Điện Thoại </label>
                                                    <input type="text" class="form-control txt" id="inputSdtEdit">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row data-tab" id="tabMatKhau">
                                            <div class="col-12 ">
                                                <div class="form-group  w-75 mx-auto">
                                                    <label>Mật khẩu hiện tại </label>
                                                    <input type="password" class="form-control txt" id="inputXacNhanMatKhau">
                                                </div>
                                            </div>
                                            <div class="col-12 ">
                                                <div class="form-group w-75 mx-auto">
                                                    <label>Mật khẩu mới</label>
                                                    <input type="password" class="form-control txt" disabled id="inputMKMoi">
                                                </div>
                                            </div>
                                            <div class="col-12 ">
                                                <div class="form-group w-75 mx-auto">
                                                    <label>Nhập lại mật khẩu</label>
                                                    <input type="password" class="form-control txt" disabled id="inputReMKMoi">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 text-center">
                                                <button class="btn btn-outline-primary" id="btnCapNhatProfile">
                                                        Cập Nhật
                                                    </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>