@font-face {
    font-family: lato-reg;
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-thin;
    src: url(fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: monts-reg;
    src: url(fonts/Montserrat-Regular.otf);
}

@font-face {
    font-family: monts-thin;
    src: url(fonts/Montserrat-Thin.otf)
}

@font-face {
    font-family: trade-1;
    src: url(fonts/TradeGothicLTStd.otf);
}

@font-face {
    font-family: trade-2;
    src: url(fonts/TradeGothicLTStd-Extended.otf);
}