%heading {
    text-transform: uppercase;
    font-weight: 700 !important;
    display: inline-block;
    color: #1641b5;
    transition: all .2s;
    position: relative;
}

.heading-secondary {
    @extend %heading;
    font-size: 2rem !important;
    letter-spacing: .2rem;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        top: -2rem;
        width: 5px;
        height: 30px;
        margin-left: -2.5px;
        background: #2be6ab;
    }
}

.modal-heading {
    @extend %heading;
    font-size: 1.5rem !important;
    line-height: 1.8rem
}