$mainColorAdmin: #1641B5;
$mainSize: 5rem;
.sidebar--admin {
    @include posi-top-left(fixed, 50px, 0);
    @include size($mainSize, 100%);
    @include flex(space-between, center, column, wrap);
    background: $mainColorAdmin;
    padding-top: 10px;
    z-index: 4;
    overflow: hidden;
    @include tablet() {
        padding-top: 0;
        width: 100%;
        top: calc(100% - 5rem);
        height: $mainSize;
        flex-direction: row;
    }
    .sidebar__nav {
        width: 100%;
        @include tablet {
            width: 75%;
            display: flex;
        }
    }
    .sidebar__item,
    #itemDangXuat {
        @include tablet {
            width: calc(100% / 3);
        }
        .sidebar__link {
            @include flex(center, center, column, wrap);
            @include size($mainSize, $mainSize);
            transition: .2s all linear;
            font-family: monts-reg;
            @include tablet {
                width: auto;
            }
            i {
                color: #fff;
                font-size: 20px;
                margin-bottom: 9px;
            }
            span.heading-secondary {
                color: #fff;
                font-size: 10px !important;
                letter-spacing: 0!important;
                &:after {
                    display: none;
                }
            }
        }
        &.active {
            .sidebar__link {
                background: #fff;
                i {
                    color: $mainColorAdmin;
                }
                span.heading-secondary {
                    color: $mainColorAdmin;
                }
            }
        }
    }
    #itemDangXuat {
        margin-bottom: $mainSize;
        @include tablet {
            width: 25%;
            margin-bottom: 0;
        }
    }
}