$mainColorAdmin: #1641B5;
$mainSize: 5rem;
.sidebar--admin{
	@include posi-top-left(fixed, 60px, 0);
	@include size($mainSize, 100%);
	@include flex(space-between, center, column, wrap);
	background: $mainColorAdmin;
	padding-top: 10px;
	overflow: hidden;
	.sidebar__item, #itemDangXuat{
		.sidebar__link{
			@include flex(center, center, column, wrap);
			@include size($mainSize, $mainSize);
			transition:.2s all linear;
			font-family: monts-reg;
			i{
				color: #fff;
				font-size: 20px;
				margin-bottom: 9px;
			}
			span.heading-secondary{
				color:  #fff;
				font-size: 10px !important;
				letter-spacing: 0!important;
				&:after{
					display: none;
				}
			}
		}
		&.active{
			.sidebar__link{
				background: #fff;
				i{
					color: $mainColorAdmin;
				}
				span.heading-secondary{
					color: $mainColorAdmin;
				}
			}
		}
	}
	#itemDangXuat{
		margin-bottom: $mainSize;
	}
}
