th,td,tr {
	text-align: center;
	vertical-align: inherit !important;
	cursor: pointer;
}
tr td {
	font-size: 14px;
}
.table-hover tbody tr {
	&:hover{
   		background-color: rgba(0,0,0,.1);
	}
    	&.choose{
   		background-color: rgba(211, 16, 16, 0.2);
    }
}
.btn-danger.disabled:hover, .btn-danger:disabled:hover {
    box-shadow: none;
    margin-bottom: 0 !important;
}
.main__content{
	padding-left: 8rem;
	padding-top: 7rem;
}

.title__data{
	font: {
		family: lato-reg;
		size: 3rem;
	}
}
.tableHocVien{
	#dataHocVien{
		.icon{
			border:none !important;
			@include size(30px !important, 30px!important);
			&::after{
				background: transparent !important;
			}
		}
	}
}
.blockForm{
	position: relative;
}
#tableTimKiemNguoiDung{
	@include posi-top-right(absolute, 140%, 0);
	transition: .4s all;
	width: 45%;
	background: #fff;
	border-radius: 5px;
	z-index: 15;
	padding: 10px 0;
	opacity: 0;
	visibility: 0;
	tr{
		height: 35px;
	}
	td, th{
		width: calc(100% / 3);
	}
	&.active{
		top: 120%;
		opacity: 1;
		visibility: 1;
	}
}











