%peach-gradient{
	background: -webkit-linear-gradient(310deg, #ffd86f, #fc6262)!important;
}
%purple-gradient{
   	background: -webkit-linear-gradient(310deg, #ff6ec4, #7873f5)!important;
}
%blue-gradient{
    background: -webkit-linear-gradient(310deg, #45cafc, #303f9f)!important;
}
%aqua-gradient{
    background: -webkit-linear-gradient(310deg, #2096ff, #05ffa3)!important;
}
%rainbow-gradient{
    background: -webkit-linear-gradient(left, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
}
%lab-gradient{
    background-image: -webkit-linear-gradient(290deg, #d558c8 0%, #24d292 100%);
}
%costance-gradient{
    background-image: -webkit-linear-gradient(bottom, #09203f 0%, #537895 100%);
}
%info-gradient{
	background-image: -webkit-linear-gradient(left, $info-color 0%, #41faa4 100%) !important;
}













